.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Other styles remain unchanged */

.headingContainer {
  display: flex;
  justify-content: right; 
  margin-top: 2px; 

}

.heading {
  font-size: 1.5em; 
  font-weight: bold;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.barChartContainer {
  flex: 70%;
  text-align: center;
}

.pieChartContainer {
  flex: 30%;
  margin-top: 150px;
}

.heading {
  font-size: 30px;
  margin: 40px;
  font-weight: bold;
}
