.profileBox {
    width: 80%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: auto;
    margin: auto;
    margin-top: 40px;
  }
  
  .leftText {
    text-align: left;
  }
  
  .rightText {
    text-align: left;
    justify-content: flex-end;
  }
  
  .header {
    font-weight: bold;
    color: blue;
    text-align: center;
  }
  